parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Parameter \#1 \$node \(PhpParser\\Node\\(.*?) of method Rector\\(.*?)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Core\\Contract\\Rector\\PhpRectorInterface\:\:refactor\(\)#'
