*
!.gitignore

# Basic project files
!php-docker-settings.xml
!php-test-framework.xml
!php.xml
!remote-mappings.xml
!vcs.xml

# Whitelist all run configurations (these must be explicitly stored as project files, so it's safe)
!runConfigurations
!runConfigurations/*

# Allow whitelisting for inspection profiles
!inspectionProfiles
inspectionProfiles/*
!inspectionProfiles/Project_Default.xml
